@model List<ArticleViewModel>
@{
    ViewData["Title"] = "Son 5 Makale";
}
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">@Html.Raw(item.Title)</h5>
                        <p class="card-text">@Html.Raw(item.Content)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>